<%= form_with(model: trip, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "Name of Trip", autofocus: true %>
    
    <%= f.label :people %>
    <%= f.text_field :people, required: true, placeholder: "How Many People", autofocus: true %>
   
    <%= f.label :stops %>
    <%= f.text_field :stops required: true, placeholder: "Stops", autofocus: true %>
    
    <%= f.label :transportation %>
    <%= f.text_field :transportation, required: true, placeholder: "Transportation Type", autofocus: true %>
    <%= f.submit nil, class: "ui-button"%>
  </div>
<% end %>
  