<h1 class="ui header centered">Trips</h1>
<div class="ui divider"></div>
<h2>Welcome <%= current_user.first_name %></h2>
<br />
<div class="ui grid">
  <% @trips.each do |trip| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="https://picsum.photos/200"/>
        </div>
        <div class="content">
           <%= link_to "#{trip.title}", trip_path(trip), class: " ui header centered" %>
        </div>
        <div class="extra content">
           <div class="ui three buttons">
             <button class= "ui blue basic button"><%= link_to 'Edit', edit_trip_path(trip) %></button>
              <div class= 'or'></div>
              <button class= "ui green basic button"><%= link_to 'View Locations', trip_locations_path(trip) %></button>
              <div class= 'or'></div>
              <button class="ui red basic button"><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
