<div class="ui centered card">
  <div class="image">
     <img src="https://picsum.photos/200"/>
    </div>
    <div class="content">
      <p class="header">
      <%= @trip.title %> 
    </p>
</div>
</div>
<hr />
<br />

<div class= "ui centered grid">
  <% @trip.locations.each do |location| %>
   <ol class="ui list">
    <div class="four wide column">
     <li> <%= link_to "#{location.name}", trip_location_path(@trip, location) %> <%= location.attraction %>  </li></div>
     </ol>
   </div>
  <%end%>
</div>
<br />
<br />
<div class="ui buttons">


<button class= "ui positive basic button"><%= link_to 'Add location', new_trip_location_path(@trip) %></button>

</div>
<button class= "ui green right floated basic button"><%= link_to 'Back', trips_path %></button>
