<h1 class="ui header centered">Address</h1>
<%= link_to 'New Address', new_location_address_path(@location)%>
<div class="ui divider"></div>
<h2>Welcome <%= current_user.first_name %></h2>
<br />
<div class="ui grid">
  <% @addresses.each do |address| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="https://picsum.photos/200/300"/>
        </div>
        <div class="content">
           <%= link_to " #{address.name}", location_address_path(@location, address), class: "ui header centered" %>
        </div>
        <div class="extra content">
           <div class="ui three buttons">
             <button class= "ui blue basic button"><%= link_to 'Edit Address', edit_location_address_path(@location, address) %></button>
              <div class= 'or'></div>
              <button class= "ui green basic button"><%= link_to 'View Address', location_address_path(@location, address) %></button>
              <div class= 'or'></div>
              <button class="ui red basic button"><%= link_to 'Destroy', location_address_path(@location, address), method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>