<nav class="ui menu">
  <button class="ui button">
    <%= link_to "Trips", trips_path %>
  </button>
  <button class="ui button">
    <%= link_to "Add Trip", new_trip_path%>
  </button>
  <button class="ui button">
    <%# link_to "Locations", trip_locations_path(@trip) %>
  </button>
  <div class="right menu">
   <% if current_user %>
    <button class="ui button">
      <%= link_to "Logout", destroy_user_session_path, method: :delete%>
    </button>
   <% else %>
    <button class="ui button">
     <%= link_to "Register", new_user_registration_path %>
    </button>
    <button class="ui button">
     <%= link_to "Login", new_user_session_path%>
    </button>
   <% end %>
  </div>
</nav>