<div>
<% if current_user %>
  <button class="ui black button">
    <%= link_to "Home", root_path %>
  </button>
  <div>
    Logged In |
    <button class="ui yellow basic button"
      <%= link_to "Edit User", edit_user_registration_path %>
    </button>
    <button class="ui red basic button"
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </button>
  </div>
<% else %>
  <button class="ui black button">
    <%= link_to "Home", root_path %>
  </button>
  <div>
    <button class="ui blue basic button">
      <%= link_to 'Sign Up', new_user_registration_path %>
    </button>
    or
    <button class="ui orange basic button">
      <%= link_to 'Log In', new_user_session_path %>
    </button>
  </div>
<% end %>
</div>